<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 第一种根据index参数下标设置 -->
    <bean id="user" class="com.kuang.pojo.User">
        <!-- index指构造方法 , 下标从0开始 -->
        <constructor-arg index="0" value="SKY1"/>
    </bean>

    <!-- 第二种根据类型设置 -->
    <!--不建议使用，因为如果是有多个不同类型参数的构造函数，就不方便了-->
    <bean id="userT" class="com.kuang.pojo.User">
        <!-- name指参数名 -->
        <constructor-arg type="java.lang.String" value="SKY2"/>
    </bean>

    <!-- 第三种根据参数名字设置 -->
    <bean id="userT" class="com.kuang.pojo.User">
        <!-- name指参数名 -->
        <constructor-arg name="name" value="SKY3"/>
    </bean>

</beans>